header{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 96px;
    opacity: 1;
}
nav{
    float: right;
    display: inline;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#contacto{
    top: 38px;
    left: 1200px;
    width: 56px;
    height: 21px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
body{
    background-image: url(images/images/slider-1.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
h1{
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0-67);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;
}
#first_parag{
    top: 399px;
    left: 101px;
    width: 343px;
    height: 42px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
}
button{
    top: 480px;
    left: 101px;
    width: 144px;
    height: 48px;
    background: var(--unnamed-color-e0752f) 0% 0% no-repeat padding-box;
    background: #E0752F 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
}